body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    background: #3C6E71;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    color: #fff;
  }
  
  header ul {
    list-style: none;
    padding: 0;
    
  }
  
  header ul li {
    display: inline;
    margin: 0 10px;
     
  }
  
  header ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  
  .image {
    text-align: center;
    margin: 20px 0;
  }
  
  .image img {
    border-radius: 50%;
  }
  
  section {
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    text-align: center;
    padding: 10px 0;
    background: #3C6E71;
    color: #fff;
    margin-top: 20px;
  }
  
  /* style.css */
.course-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px;
  }
  
  
  .container {
    max-width: 50px;
    margin: auto;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
